# Practical_2: String and files

---

### Exercise 1:
Create a string variable `text` and assign it the value `"Python is amazing!"`.

```python
# Exercise 1
```

In [1]:
text = "Python is amazing!"

---

### Exercise 2:
Find the length of the string `"Hello, World!"` and store it in a variable `length`.

```python
# Exercise 2
```

In [2]:
length = len("Hello, World!")

length

13

---

### Exercise 3:
Convert the string `"python programming"` to uppercase and store it in a variable `upper_text`.

```python
# Exercise 3
```

In [15]:
upper_text = "python programming".upper()

upper_text

'PYTHON PROGRAMMING'

---

### Exercise 4:
Extract the first 5 characters from the string `"Artificial Intelligence"`.

```python
# Exercise 4
```

In [16]:
"Artificial Intelligence"[:5]

'Artif'

---

### Exercise 5:
Concatenate the strings `"Hello"` and `"World"` with a space in between.

```python
# Exercise 5
```

In [17]:
concat = "Hello" + " " + "World"

concat

'Hello World'

---

### Exercise 6:
Replace the word `"dog"` with `"cat"` in the string `"The quick brown dog jumps over the lazy dog."`.

```python
# Exercise 6
```

In [19]:
"The quick brown dog jumps over the lazy dog.".replace("dog", "cat")

'The quick brown cat jumps over the lazy cat.'

---

### Exercise 7:
Split the string `"apple,banana,orange"` by commas and store the result in a list `fruits_list`.

```python
# Exercise 7
```

In [20]:
fruits_list = "apple,banana,orange".split(",")

fruits_list

['apple', 'banana', 'orange']

---

### Exercise 8:
Use string formatting to create the sentence `"My name is Alice and I am 25 years old."`, where the name and age are variables.

```python
# Exercise 8
```

In [25]:
name = 'Roy'
age = 25

print(f"My name is {name} and I am {age} years old.")

print("My name is {name} and I am {age} years old.".format(name='Roy', age=25))

My name is Roy and I am 25 years old.
My name is Roy and I am 25 years old.

---

### Exercise 9:
Check if the string `"python"` is present in the sentence `"I love python programming"`.

```python
# Exercise 9
```

In [26]:
"python" in "I love python programming"

True

---

### Exercise 10:
Count the number of occurrences of the letter `"e"` in the string `"Elephant is an elegant animal"`.

```python
# Exercise 10
```

In [29]:
print("Elephant is an elegant animal".count("e"))

print("Elephant is an elegant animal".lower().count("e"))

4

---

### Exercise 11:
Remove any leading and trailing spaces from the string `"   Data Science   "`.

```python
# Exercise 11
```

In [31]:
"   Data Science   ".strip()

'Data Science'

---

### Exercise 12:
Convert the string `"100"` into an integer and store it in a variable `int_value`.

```python
# Exercise 12
```

In [35]:
int_value = int("100")

int_value

100

---

### Exercise 13:
Extract the substring `"pro"` from the string `"programming"`.

```python
# Exercise 13
```

In [38]:
"programming"[:3]

'pro'

---

### Exercise 14:
Check if the string `"data"` starts with `"da"` and ends with `"ta"`.

```python
# Exercise 14
```

In [ ]:
data = "data"

data.startswith("data")

---

### Exercise 15:
Reverse the string `"machine learning"` and store the result in `reversed_text`.

```python
# Exercise 15
```

In [2]:
"machine learning"[::-1]

'gninrael enihcam'

---

### Exercise 16:
Convert the first letter of each word in the string `"machine learning is fun"` to uppercase.

```python
# Exercise 16
```

In [4]:
"machine learning is fun".title()

'Machine Learning Is Fun'

---

### Exercise 17:
Create a multiline string representing a poem and store it in a variable `poem`.

```python
# Exercise 17
```

In [6]:
poem = """Roses are red
Violets are blue
It does not make sense
As my love for you"""

---

### Exercise 18:
Write a string to a file named `"output.txt"`.

```python
# Exercise 18
```

In [1]:
with open('output.txt', 'w') as f:
    f.write('Heeey')

---

### Exercise 19:
Read the contents of a file named `"data.txt"` and print it line by line.

```python
# Exercise 19
```

In [6]:
with open('data.txt', 'r') as f:
    lines = f.readlines()
    for line in lines:
        print(line.strip())

# --- Utilisateurs ---
ID: 001 | Nom: Alice Koffi | Email: alice.koffi@example.com | Âge: 29 | Ville: Abidjan
ID: 002 | Nom: Géraldo Aballo | Email: geraldo.aballo@aims-senegal.org | Âge: 25 | Ville: Dakar
ID: 003 | Nom: Fatou Ndiaye | Email: fatou.ndiaye@qotto.net | Âge: 32 | Ville: Thiès
ID: 004 | Nom: Jean Mensah | Email: jean.mensah@gmail.com | Âge: 27 | Ville: Lomé

# --- Transactions ---
TX-1001 | Montant: 18 500 XOF | Statut: Validé | Date: 2025-10-15 | Méthode: Mobile Money
TX-1002 | Montant: 7 200 XOF  | Statut: En attente | Date: 2025-10-16 | Méthode: Carte bancaire
TX-1003 | Montant: 25 000 XOF | Statut: Échoué | Date: 2025-10-17 | Méthode: Espèces

# --- Données capteurs ---
Sensor_01 | Température: 28.6°C | Humidité: 64% | Timestamp: 2025-10-18T09:00:12Z
Sensor_02 | Température: 30.1°C | Humidité: 58% | Timestamp: 2025-10-18T09:01:43Z
Sensor_03 | Température: 27.9°C | Humidité: 70% | Timestamp: 2025-10-18T09:02:15Z

# --- Observations plantes ---
Sample_ID: TMT_001 | Classe: Tomato___Healthy | Prédiction: 0.97 | Modèle: EfficientNet-B0
Sample_ID: TMT_002 | Classe: Tomato___Early_blight | Prédiction: 0.88 | Modèle: MobileNetV3
Sample_ID: TMT_003 | Classe: Tomato___Bacterial_spot | Prédiction: 0.91 | Modèle: ShuffleNetV2

# --- Rapports journaliers ---
Date: 2025-10-14 | Tâches accomplies: 6 | Temps total: 5h45 | Commentaire: "Analyse des modèles terminée"
Date: 2025-10-15 | Tâches accomplies: 4 | Temps total: 4h10 | Commentaire: "Nettoyage du dataset et sauvegarde"
Date: 2025-10-16 | Tâches accomplies: 7 | Temps total: 6h30 | Commentaire: "Test des augmentations de contraste"

---

### Exercise 20:
Check if a file `"example.txt"` exists before opening it.

```python
# Exercise 20
```

In [11]:
try:
    with open('example.txt', 'r') as f:
        content = f.read()
except FileNotFoundError:
    print("The file you are trying to open does not exist.")
except IOError:
    print("Impossible to open this file.")

The file you are trying to open does not exist.

---

### Exercise 21:
Append a new line `"This is a new line"` to an existing file `"notes.txt"`.

```python
# Exercise 21
```

In [12]:
with open('notes.txt', 'a') as f:
    f.write("This is a new line")

---

### Exercise 22:
Read the contents of a file `"log.txt"` and store each line in a list `log_lines`.

```python
# Exercise 22
```

In [20]:
log_lines = []

with open("log.txt", "r") as f:
    for line in f:
        log_lines.append(line)

log_lines

['[2025-10-18 08:42:11,391] INFO     server: Starting application version 2.3.1\n',
 '[2025-10-18 08:42:11,402] DEBUG    config: Loaded environment variables from .env\n',
 '[2025-10-18 08:42:11,414] INFO     database: Connected to PostgreSQL at 127.0.0.1:5432\n',
 '[2025-10-18 08:42:11,415] INFO     database: Using schema public\n',
 '[2025-10-18 08:42:11,420] INFO     auth: JWT secret successfully loaded\n',
 '[2025-10-18 08:42:11,624] INFO     scheduler: Task "daily_report_job" scheduled every 24h\n',
 '[2025-10-18 08:42:11,731] INFO     server: HTTP server listening on port 8080\n',
 '[2025-10-18 08:42:15,002] INFO     request: POST /api/v1/login 200 OK (user=roy.aballo@qotto.net, 123ms)\n',
 '[2025-10-18 08:42:17,889] INFO     request: GET /api/v1/payments 200 OK (rows=128, 214ms)\n',
 '[2025-10-18 08:42:18,451] WARNING  payments: Slow query detected (query_time=3.12s)\n',
 '[2025-10-18 08:42:19,019] INFO     request: POST /api/v1/promises 201 CREATED (user=abalo.g.roy@aims-senegal.org)\n',
 '[2025-10-18 08:42:19,745] DEBUG    core: PaymentPromise validated with ID=PP-2025-0148\n',
 '[2025-10-18 08:42:22,338] INFO     scheduler: Running task "daily_report_job"\n',
 '[2025-10-18 08:42:22,419] INFO     reports: Generating daily summary for user=roy.aballo@qotto.net\n',
 '[2025-10-18 08:42:22,501] DEBUG    ml: EfficientNet-B0 inference started (batch_size=32)\n',
 '[2025-10-18 08:42:23,211] INFO     ml: Inference completed | Accuracy=0.912 | F1=0.907\n',
 '[2025-10-18 08:42:23,212] INFO     reports: Daily summary successfully uploaded to CouchDB\n',
 '[2025-10-18 08:42:23,213] INFO     database: CouchDB document _id="daily-2025-10-18-roy"\n',
 '[2025-10-18 08:42:23,217] DEBUG    memory: Peak GPU usage 742MB, CPU load 37%\n',
 '[2025-10-18 08:42:23,225] INFO     scheduler: Task "daily_report_job" completed successfully\n',
 '[2025-10-18 08:42:30,092] INFO     request: GET /api/v1/health 200 OK\n',
 '[2025-10-18 08:42:34,909] ERROR    database: Lost connection to PostgreSQL (retrying in 5s)\n',
 '[2025-10-18 08:42:39,915] INFO     database: Reconnected to PostgreSQL successfully\n',
 '[2025-10-18 08:42:41,007] WARNING  auth: Token expired for user=guest@example.com\n',
 '[2025-10-18 08:42:41,110] INFO     request: POST /api/v1/refresh-token 200 OK (user=guest@example.com)\n',
 '[2025-10-18 08:42:46,804] INFO     request: GET /api/v1/promises?status=active 200 OK (rows=45, 192ms)\n',
 '[2025-10-18 08:42:49,412] DEBUG    scheduler: Queue check — 0 pending tasks\n',
 '[2025-10-18 08:42:52,118] INFO     server: Graceful shutdown requested (SIGTERM)\n',
 '[2025-10-18 08:42:52,119] INFO     scheduler: Cancelling 1 running task\n',
 '[2025-10-18 08:42:52,125] INFO     server: Application stopped cleanly']

---

### Exercise 23:
Create a new file `"report.txt"` and write the string `"Data analysis report"` to it.

```python
# Exercise 23
```

In [21]:
with open('report.txt', 'w') as f:
    f.write("Data analysis report")

---

### Exercise 24:
Replace the word `"error"` with `"issue"` in a file `"log.txt"`.

```python
# Exercise 24
```

In [24]:
with open('log.txt', 'r') as f:
    content = f.read()

content = content.replace('ERROR', 'ISSUE')

with open('log.txt', 'w') as f:
    f.write(content)

---

### Exercise 25:
Count the number of words in a text file `"document.txt"`.

```python
# Exercise 25
```

In [26]:
count_words = 0
with open('notes.txt', 'r') as f:
    for line in f:
        count_words += len(line.strip().split(' '))

count_words

9

---

### Exercise 26:
Write a Python script that reads a file `"essay.txt"` and prints the total number of lines, words, and characters.

```python
# Exercise 26
```

---

### Exercise 27:
Copy the contents of one file `"source.txt"` to another file `"destination.txt"`.

```python
# Exercise 27
```

---

### Exercise 28:
Write a Python function that takes a filename as input and returns the number of lines in the file.

```python
# Exercise 28
```

---

### Exercise 29:
Extract all the words from a text file `"article.txt"` that contain more than 5 characters.

```python
# Exercise 29
```

---

### Exercise 30:
Convert the contents of a file `"notes.txt"` to uppercase and save the result in another file `"uppercase_notes.txt"`.

```python
# Exercise 30
```

---

### Exercise 31:
Write a Python script that reads a file and removes all empty lines.

```python
# Exercise 31
```

---

### Exercise 32:
Open a file `"config.txt"` in both read and write mode.

```python
# Exercise 32
```

---

### Exercise 33:
Write a Python function that reads a file and prints the longest line in the file.

```python
# Exercise 33
```

---

### Exercise 34:
Write a Python script to count the frequency of each letter in a text file `"message.txt"`.

```python
# Exercise 34
```

---

### Exercise 35:
Write a Python script that reads a file and prints the total number of characters, excluding spaces.

```python
# Exercise 35
```

---

### Exercise 36:
Create a Python script to check whether a file is empty or not.

```python
# Exercise 36
```

---

### Exercise 37:
Write a Python function that reads a file and removes all punctuation marks from the text.

```python
# Exercise 37
```

---

### Exercise 38:
Create a Python function that writes a list of strings to a file, each string on a new line.

```python
# Exercise 38
```

---

### Exercise 39:
Write a Python script to count the number of lines that start with a specific letter (e.g., "A") in a text file.

```python
# Exercise 39
```

---

### Exercise 40:
Write a Python function that takes a string as input and writes it to a file `"output.txt"` in reverse order.

```python
# Exercise 40
```

---

### Exercise 41:
Write a Python script that reads a file and prints all the lines that contain the word `"Python"`.

```python
# Exercise 41
```

---

### Exercise 42:
Write a Python script that opens a file and removes all numeric digits from the file's content.

```python
# Exercise 42
```

---

### Exercise 43:
Write a Python script to find the most frequent word in a text file `"book.txt"`.

```python
# Exercise 43
```

---

### Exercise 44:
Write a Python script that reads a file and prints all the lines that contain exactly 5 words.

```python
# Exercise 44
```

---

### Exercise 45:
Write a Python script to read a file and print the first and last line of the file.

```python
# Exercise 45
```

---

### Exercise 46:
Write a Python script that checks if a file `"students.txt"` is writable.

```python
# Exercise 46
```

---

### Exercise 47:
Create a Python function that opens a file and returns the number of unique words in the file.

```python
# Exercise 47
```

---

### Exercise 48:
Write a Python script that reads a file and prints all lines in reverse order.

```python
# Exercise 48
```

---

### Exercise 49:
Write a Python function that reads a file and returns the most common letter in the text.

```python
# Exercise 49
```

---

### Exercise 50:
Write a Python script that reads a file and replaces every occurrence of `"Python"` with `"Java"`.

```python
# Exercise 50
```

---